## Boolean

A boolean data type represents one of the two values: _True_ or _False_. The use of these data types will be clear once we start using the comparison operator. The first letter **T** for True and **F** for False should be capital unlike JavaScript.
**Example: Boolean Values**

```py
print(True)
print(False)
```

## Operators

Python language supports several types of operators.We will focus on few of them.


### Assignment Operators

Assignment operators are used to assign values to variables. Let us take = as an example. Equal sign in mathematics shows that two values are equal, however in Python it means we are storing a value in a certain variable and we call it assignment or a assigning value to a variable. The table below shows the different types of python assignment operators, taken from [w3school](https://www.w3schools.com/python/python_operators.asp).

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Operator</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>=</td>
    <td>Assigns a value to a variable</td>
  </tr>
  <tr>
    <td>+=</td>
    <td>Adds and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>-=</td>
    <td>Subtracts and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>*=</td>
    <td>Multiplies and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>/=</td>
    <td>Divides and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>%=</td>
    <td>Performs modulus and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>//=</td>
    <td>Performs floor division and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>**=</td>
    <td>Performs exponentiation and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>&=</td>
    <td>Performs bitwise AND and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>|=</td>
    <td>Performs bitwise OR and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>^=</td>
    <td>Performs bitwise XOR and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>&lt;&lt;=</td>
    <td>Performs bitwise left shift and assigns the result to the variable</td>
  </tr>
  <tr>
    <td>&gt;&gt;=</td>
    <td>Performs bitwise right shift and assigns the result to the variable</td>
  </tr>
</table>

### Arithmetic Operators:

- Addition(+): a + b
- Subtraction(-): a - b
- Multiplication(*): a * b
- Division(/): a / b
- Modulus(%): a % b
- Floor division(//): a // b
- Exponentiation(**): a ** b

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>+</td>
    <td>Addition</td>
    <td>3 + 2 = 5</td>
  </tr>
  <tr>
    <td>-</td>
    <td>Subtraction</td>
    <td>5 - 2 = 3</td>
  </tr>
  <tr>
    <td>*</td>
    <td>Multiplication</td>
    <td>3 * 2 = 6</td>
  </tr>
  <tr>
    <td>/</td>
    <td>Division</td>
    <td>6 / 2 = 3.0</td>
  </tr>
  <tr>
    <td>%</td>
    <td>Modulus</td>
    <td>5 % 2 = 1</td>
  </tr>
  <tr>
    <td>**</td>
    <td>Exponentiation</td>
    <td>3 ** 2 = 9</td>
  </tr>
  <tr>
    <td>//</td>
    <td>Floor Division</td>
    <td>7 // 2 = 3</td>
  </tr>
</table>

**Example:Integers**

In [ ]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 9 it means 2 * 2 * 2

**Example:Floats**

In [ ]:
# Floating numbers
print('Floating Point Number, PI', 3.14)
print('Floating Point Number, gravity', 9.81)

**Example:Complex numbers**

In [ ]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

Let's declare a variable and assign a number data type. I am going to use single character variable but remember do not develop a habit of declaring such types of variables. Variable names should be all the time mnemonic.

**Example:**

In [ ]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

**Example:**

In [ ]:
print('== Addition, Subtraction, Multiplication, Division, Modulus ==')

# Declaring values and organizing them together
num_one = 3
num_two = 4

# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_one
remainder = num_two % num_one

# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)


Let us start connecting the dots and start making use of what we already know to calculate (area, volume,density,  weight, perimeter, distance, force).

**Example:**

In [ ]:

# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')                         # Adding unit to the weight

# Calculate the density of a liquid
mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = mass / volume # 1000 Kg/m^3



### Comparison Operators

In programming we compare values, we use comparison operators to compare two values. We check if a value is greater or less or equal to other value. The following table shows Python comparison operators which was taken from [w3shool](https://www.w3schools.com/python/python_operators.asp).

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Operator</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>==</td>
    <td>Equal</td>
    <td>True if the operands are equal</td>
  </tr>
  <tr>
    <td>!=</td>
    <td>Not Equal</td>
    <td>True if the operands are not equal</td>
  </tr>
  <tr>
    <td>&gt;</td>
    <td>Greater Than</td>
    <td>True if the left operand is greater than the right</td>
  </tr>
  <tr>
    <td>&lt;</td>
    <td>Less Than</td>
    <td>True if the left operand is less than the right</td>
  </tr>
  <tr>
    <td>&gt;=</td>
    <td>Greater Than or Equal To</td>
    <td>True if the left operand is greater than or equal to the right</td>
  </tr>
  <tr>
    <td>&lt;=</td>
    <td>Less Than or Equal To</td>
    <td>True if the left operand is less than or equal to the right</td>
  </tr>
  <tr>
    <td>is</td>
    <td>Identity</td>
    <td>True if the operands are identical (refer to the same object)</td>
  </tr>
  <tr>
    <td>is not</td>
    <td>Not Identity</td>
    <td>True if the operands are not identical (do not refer to the same object)</td>
  </tr>
  <tr>
    <td>in</td>
    <td>Membership</td>
    <td>True if the left operand is in the right</td>
  </tr>
  <tr>
    <td>not in</td>
    <td>Not Membership</td>
    <td>True if the left operand is not in the right</td>
  </tr>
</table>

**Example: Comparison Operators**

In [ ]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False


# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

In addition to the above comparison operator Python uses:

- _is_: Returns true if both variables are the same object(x is y)
- _is not_: Returns true if both variables are not the same object(x is not y)
- _in_: Returns True if the queried list contains a certain item(x in y)
- _not in_: Returns True if the queried list doesn't have a certain item(x in y)

In [ ]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Abhinav', 'A' in 'Abhinav') # True - A found in the string
print('B in Abhinav', 'B' in 'Abhinav') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True


### Logical Operators

Unlike other programming languages python uses keywords _and_, _or_ and _not_ for logical operators. Logical operators are used to combine conditional statements:

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Logical Operator</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><strong>and</strong></td>
    <td>Returns True if both statements are true</td>
  </tr>
  <tr>
    <td><strong>or</strong></td>
    <td>Returns True if one of the statements is true</td>
  </tr>
  <tr>
    <td><strong>not</strong></td>
    <td>Reverses the result, returns False if the result is true</td>
  </tr>
</table>

In [ ]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print('True and True: ', True and True)
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statements is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print('True or False:', True or False)
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False