<h2> Exercise 1 : Day 5 </h2>

<h3>Q1.Declare an empty list</h3>

In [ ]:
lst =list()# An empty list 
print(lst)
print(type(lst))#type
print(len(lst))#length

<h4>Q2.Declare a list with more than 5 items</h4>

In [ ]:
Items = ['mango','banana','apple','orange','lemon']
print(Items)

<h4>Q3.Find the length of your list</h4>

In [ ]:
Items = ['mango','banana','apple','orange','lemon']
print(len(Items))

<h4>Q4.Get the first item, the middle item and the last item of the list</h4>

In [ ]:
# Get list input from the user
user_input = input("Enter the list elements separated by commas: ")
# Convert the input string into a list by splitting the string at commas
user_list = user_input.split(',')
# Strip any leading/trailing spaces from each item
user_list = [item.strip() for item in user_list]

# Get the first, middle, and last elements
first_item = user_list[0]
middle_item = user_list[len(user_list) // 2]
last_item = user_list[-1]

# Print the results
print(f"First item: {first_item}")
print(f"Middle item: {middle_item}")
print(f"Last item: {last_item}")

<h5>Q4.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)</h4>

In [1]:
lst = [{'name': 'Abhinav','age':20,'height':175,'weight':80},]
print(lst)

[{'name': 'Abhinav', 'age': 20, 'height': 175, 'weight': 80}]

<h4>Q6.Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.<br><br>
Q7.Print the list using print()</h4>

In [ ]:
it_companies =[ 'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle' ,' Amazon']
print(it_companies)

<h4>Q8.Print the number of companies in the list</h4>

In [3]:
it_companies =[ 'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle' ,' Amazon']
# Print the number of companies in the list
print("Number of companies in the list:", len(it_companies))

Number of companies in the list: 7

<h4>Q9.Print the first, middle and last company</h4>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
print(f"Companies in the list \nFirst :{ it_companies[0] } \nMiddle: {it_companies[len(it_companies) // 2]} \nlast: {it_companies[-1]}")

<h4>Q10.Print the list after modifying one of the companies</h4>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

it_companies[1] = 'Amazon'
# Print the modified list
print("Modified list of IT companies:", it_companies)

<h4>Q11.Add an IT company to it_companies</h4>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
it_companies[1] = "IT"
print("Modified list of IT companies:", it_companies)

<h4>Q12.Insert an IT company in the middle of the companies list</h4>

In [ ]:
# List of IT companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

# Calculate the middle index
middle_index = len(it_companies) // 2

# Insert a new company in the middle, for example, 'Netflix'
it_companies.insert(middle_index, 'Netflix')

# Print the modified list
print("List after inserting a company in the middle:", it_companies)

<h4>Q13.Change one of the it_companies names to uppercase (IBM excluded!)</h4>

In [ ]:
# List of IT companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

# Change one of the company names to uppercase, for example, 'Google'
it_companies[1] = it_companies[1].upper()

# Print the modified list
print("List after changing 'Google' to uppercase:", it_companies)

<h4>Q14.Join the it_companies with a string '#;'  </h4>

In [ ]:
# List of IT companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

# Join the companies with '#; ' as the separator
joined_companies = '#; '.join(it_companies)

# Print the resulting string
print("Joined companies:", joined_companies)

<h4>Q15.Check if a certain company exists in the it_companies list.</h4>

In [ ]:
# List of IT companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

# Company to check
company_to_check = 'Apple'

# Check if the company exists in the list
if company_to_check in it_companies:
    print(f"{company_to_check} exists in the list.")
else:
    print(f"{company_to_check} does not exist in the list.")

<h4>Q16.Sort the list using sort() method</h4>

In [13]:
it_companies=['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

result = sorted(it_companies)
print(result)

['Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

<h4>Q17.Reverse the list in descending order using reverse() method</h4>

In [ ]:
it_companies=['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
it_companies.reverse()
print(it_companies)

<h4>Q18.Slice out the first 3 companies from the list</h4>

In [ ]:
# List of IT companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

# Slice out the first 3 companies
first_three_companies = it_companies[:3]

# Print the sliced list
print("First 3 companies:", first_three_companies)

<h4>Q19.Slice out the last 3 companies from the list</h4>

In [ ]:
it_companies =['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
#slice put last 3 companies 
last_three_companies = it_companies[-3:]
print("Last 3 companies:", last_three_companies)

<h4>Q20.Slice out the middle IT company or companies from the list</h4>

In [4]:
# List of IT companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
# Calculate the length of the list
length = len(it_companies)
# Slice out the middle company or companies
if length % 2 == 0:  # Even number of items
    middle_companies = it_companies[length//2 - 1 : length//2 + 1]
else:  # Odd number of items
    middle_companies = it_companies[length//2]

# Print the middle company or companies
print("Middle company or companies:", middle_companies)

Middle company or companies: ['Microsoft', 'Apple']

<h4>Q21.Remove the first IT company from the list</h4>

In [7]:
it_companies =['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
it_companies.pop(0)
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

<h4>Q22.Remove the middle IT company or companies from the list</h4>

In [ ]:
it_companies =['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
lenght = len(it_companies)
if length %2 ==0 :
    a = lenght // 2-1
    b = lenght // 2+1
    it_companies.pop(a)
    it_companies.pop(b)
    #print(it_companies)
else:
    c=lenght // 2
    it_companies.pop(c)
    #print(it_companies)
    
print(it_companies)

<h4>OR <br> using del </h4>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
length = len(it_companies)

if length % 2 == 0:  # Even number of items, remove two middle companies
    del it_companies[length//2 - 1 : length//2 + 1]
else:  # Odd number of items, remove one middle company
    del it_companies[length//2]

print( it_companies)

<h4>Q22.Remove the last IT company from the list</h4>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

it_companies.pop(-1)
print(it_companies)

<h4>Q24.Remove all IT companies from the list</h4>

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
del it_companies[0:]
print(it_companies)

<h4>Q25.Destroy the IT companies list</h4>

In [13]:
# List of IT companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

# Destroy the IT companies list
del it_companies

# Trying to print the list will raise an error since it's deleted
try:
    print(it_companies)
except NameError:
    print("The it_companies list has been deleted.")

The it_companies list has been deleted.

<h4>Join the following lists:</h4>

    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux'] 
    back_end = ['Node','Express', 'MongoDB']

In [15]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux'] 
back_end = ['Node','Express', 'MongoDB']

lst = (front_end + back_end)
print(lst)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

<h4>Q.27 After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.</h4>

In [ ]:
full_stack =['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
index = full_stack.index('Redux')

full_stack.insert(index+1 ,"Python")
full_stack.insert(index+2 ,"SQl")
print(full_stack)