
## ðŸ’» Exercises: Day 8

1. Create  an empty dictionary called dog
2. Add name, color, breed, legs, age to the dog dictionary
3. Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
4. Get the length of the student dictionary
5. Get the value of skills and check the data type, it should be a list
6. Modify the skills values by adding one or two skills
7. Get the dictionary keys as a list
8. Get the dictionary values as a list
9. Change the dictionary to a list of tuples using _items()_ method
10. Delete one of the items in the dictionary
11. Delete one of the dictionaries

In [20]:
#Q1
dog= {}

# Q2
dog['Name']= 'Jacky'
dog['color']= 'Male'
dog['breed']= 'Pit bull'
dog['Age']= 2

In [21]:
# Q3
student = {
    'first_name':'Abhinav',
    'last_name':'Omanakuttan',
    'Gender': 'Male',
    'age':20,
    'country':'India',
    'is_marred':False,
    'skills':['C','C++', 'HTML', 'CSS', 'MySQL', 'Python'],
    'address':{
        'street':'abcd efgh',
        'zipcode':'00000'
    }
    }

In [ ]:

# Q4
 #len of the dictionary student 
print(len(student)) # Output: 8

In [ ]:

# Q5

skills = student['skills']
print(skills)         # Output: ['Python', 'Data Analysis']
print(type(skills))   # Output: <class 'list'>

In [ ]:

# Q6
student['skills'].append('Machine Learning')
student['skills'].append('Deep Learning')
print(student['skills'])  # Output: ['Python', 'Data Analysis', 'Machine Learning', 'Deep Learning']

In [ ]:
#Q7
keys = list(student.keys())
print(keys)

In [ ]:

# Q8
values = list(student.values())
print(values)# Output: ['John', 'Doe', 'Male', 20, 'Single', ['Python', 'Data Analysis', 'Machine Learning', 'Deep Learning'], 'USA', 'New York', '123 Main St']

In [ ]:
# Q9
items = list(student.items())
print(items)
# Output: [('first_name', 'John'), ('last_name', 'Doe'), ('gender', 'Male'), ('age', 20), ('marital_status', 'Single'), ('skills', ['Python', 'Data Analysis', 'Machine Learning', 'Deep Learning']), ('country', 'USA'), ('city', 'New York'), ('address', '123 Main St')]

In [ ]:
#Q10
del student['is_marred']
print(student)
# Output: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 20, 'skills': ['Python', 'Data Analysis', 'Machine Learning', 'Deep Learning'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}

In [ ]:
#Q11
del dog
# Attempting to print 'dog' will raise a NameError as it has been deleted