<h3>Variables</h3>

Variables store data in a computer memory. Mnemonic variables are recommended to use in many programming languages. A mnemonic variable is a variable name that can be easily remembered and associated. A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.
<br>

Python Variable Name Rules

<br>

A variable name must start with a letter or the underscore character<br>
A variable name cannot start with a number<br>
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )<br>
Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)<br>

Here are some example of valid variable names:

    firstname
    lastname
    age
    country
    city
    first_name
    last_name
    capital_city
    _if # if we want to use reserved word as a variable
    year_2021
    year2021
    current_year_2021
    birth_year
    num1
    num2

Invalid variables names

    first-name
    first@name
    first$name
    num-1
    1num

We will use standard Python variable naming style which has been adopted by many Python developers. Python developers use snake case(snake_case) variable naming convention. We use underscore character after each word for a variable containing more than one word(eg. first_name, last_name, engine_rotation_speed).  The example below is an example of standard naming of variables, underscore is required when the variable name is more than one word.

When we assign a certain data type to a variable, it is called variable declaration. For instance in the example below my first name is assigned to a variable first_name. The equal sign is an assignment operator. Assigning means storing data in the variable. The equal sign in Python is not equality as in Mathematics.

Example

#Variables in Python
    
    first_name = 'Abhinav'
    last_name = 'Omanakuttan'
    country = 'India'
    city = 'pathanamthitta'
    age = 20
    is_married = Fals
    skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
    person_info = {
     'firstname':'Abhinav',
     'lastname':'Omanakuttan',
     'country':'India',
     'city':'pathanamthitta'
     }

Let us use the print() and len() built-in functions. Print function takes unlimited number of arguments. An argument is a value which we can be passed or put inside the function parenthesis, see the example below.

Example

In [1]:
print('Hello, World !') # The text Hello, World! is an argument
print('Hello',',', 'World','!') # it can take multiple arguments, four arguments have been passed
print(len('Hello, World!')) # it takes only one argument

Hello, World!
Hello , World !
13

Let us print and also find the length of the variables declared at the top:

In [3]:
# Variables in Python
first_name = 'Abhinav'
last_name = 'Omanakuttan'
country = 'India'
city = 'pathanamthitta'
age = 250
is_married = False
skills = ['HTML', 'CSS', 'JS', 'C', 'Python']
person_info = {
   'firstname':'Abhinav',
   'lastname':'Omanakuttan',
   'country':'India',
   'city':'pathanamthitta'
   }
# Printing the values stored in the variables
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Abhinav
First name length: 7
Last name:  Omanakuttan
Last name length:  11
Country:  India
City:  pathanamthitta
Age:  250
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'C', 'Python']
Person information:  {'firstname': 'Abhinav', 'lastname': 'Omanakuttan', 'country': 'India', 'city': 'pathanamthitta'}

<h4>Checking Data types and Casting</h4>

Check Data types: To check the data type of certain data/variable we use the type Example:

In [1]:
# Different python data types
# Let's declare variables with various data types

first_name = 'Abhinav'     # str
last_name = 'Omanakuttan'       # str
country = 'India'         # str
city= 'Konni'            # str
age = 20                   # int, it is not my real age, don't worry about it

# Printing out types
print(type('Abhinav'))     # str
print(type(first_name))     # str
print(type(10))             # int
print(type(3.14))           # float
print(type(1 + 1j))         # complex
print(type(True))           # bool
print(type([1, 2, 3, 4]))     # list
print(type({'name':'Abhinav','age':20, 'is_married':20}))    # dict
print(type((1,2)))                                              # tuple
print(type(zip([1,2],[3,4])))                                   # set

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'zip'>

Casting: Converting one data type to another data type. We use int(), float(), str(), list, set When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. If we concatenate a number with a string, the number should be first converted to a string. We will talk about concatenation in String section.

Example:

In [ ]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10.6'
print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

# str to list
first_name = 'Abhinav'
print(first_name)               # 'Abhinav'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 'b', 'h', 'i', 'n', 'a', 'v']

<h3>Numbers</h3>

Number data types in Python:

1. Integers: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...

2. Floating Point Numbers(Decimal numbers) Example: ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...

3. Complex Numbers Example: 1 + j, 2 + 4j, 1 - 1j